.yh-icon-search-habit{
	background:url('icons/aptana.png') no-repeat center center;
}
.yh-icon-emesene{
	background:url('icons/emesene.png') no-repeat center center;
}
.yh-icon-emesene-default{
	background:url('icons/emesene-default.png') no-repeat center center;
}
.yh-icon-emesene02{
	background:url('icons/emesene02.png') no-repeat center center;
}
.yh-icon-key{
	background:url('icons/key.png') no-repeat center center;
}
.yh-icon-info{
	background:url('icons/info.png') no-repeat center center;
}
.yh-icon-warn{
	background:url('icons/warn.png') no-repeat center center;
}
.yh-icon-error{
	background:url('icons/error.png') no-repeat center center;
}
.yh-icon-fatal{
	background:url('icons/error_fuck.png') no-repeat center center;
}
.yh-icon-up{
	background:url('icons/arrow_up.png') no-repeat center center;
}
.yh-icon-down{
	background:url('icons/arrow_down.png') no-repeat center center;
}
.yh-icon-group_blue_add{
	background:url('icons/group_blue_add.png') no-repeat center center;
}
.yh-icon-group_blue_edit{
	background:url('icons/group_blue_edit.png') no-repeat center center;
}
.yh-icon-group_blue_new{
	background:url('icons/group_blue_new.png') no-repeat center center;
}
.yh-icon-group_blue_remove{
	background:url('icons/group_blue_remove.png') no-repeat center center;
}
.yh-icon-akonadi{
	background:url('icons/akonadi.png') no-repeat center center;
}
.yh-icon-application_osx_okay{
	background:url('icons/application_osx_okay.png') no-repeat center center;
}
.yh-icon-application-pgp-keys{
	background:url('icons/application-pgp-keys.png') no-repeat center center;
}
.yh-icon-application-x-theme{
	background:url('icons/application-x-theme.png') no-repeat center center;
}
.yh-icon-application-x-trash{
	background:url('icons/application-x-trash.png') no-repeat center center;
}
.yh-icon-openofficeorg-math-default{
	background:url('icons/openofficeorg-math-default.png') no-repeat center center;
}
.yh-icon-openofficeorg-math-new{
	background:url('icons/openofficeorg-math-new.png') no-repeat center center;
}
.yh-icon-openofficeorg-math{
	background:url('icons/openofficeorg-math.png') no-repeat center center;
}
.yh-icon-openofficeorg-printeradmin-default{
	background:url('icons/openofficeorg-printeradmin-default.png') no-repeat center center;
}
.icon-refresh{
	background:url('icons/refresh.png') no-repeat center center;
}
.icon-loading{
	background:url('icons/loading.gif') no-repeat center center;
}
.icon-handle{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-password{
	background:url('icons/key.png') no-repeat center center;
}
.icon-collapse{
	background:url('icons/collapse.png') no-repeat center center;
}
.icon-expand{
	background:url('icons/expand.png') no-repeat center center;
}
.icon-log{
	background:url('icons/clock.png') no-repeat center center;
}
.icon-stat{
	background:url('icons/stat.png') no-repeat center center;
}
.icon-info{
	background:url('icons/info.png') no-repeat center center;
}


